## Multinomial Naive Bayes Classifier for Text Analysis (Python)

##### Naive-Bayes-for-text-classification

##### implement a Multinomial Naive Bayes Classifier for the 20 Newsgroups dataset.

The 20 newsgroups dataset comprises around 18000 newsgroups posts on 20 topics split in two subsets: one for training (or development) and the other one for testing (or for performance evaluation). 
The split between the train and test set is based upon a messages posted before and after a specific date.

##### Libraries

In [1]:
# Import libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [2]:
# Load data
df = pd.read_csv('imdb_master.csv', engine = 'python')
df.head()

,Unnamed: 0,type,review,label,file
0,0,test,Once again Mr. Costner has dragged out a movie...,neg,0_2.txt
1,1,test,This is an example of why the majority of acti...,neg,10000_4.txt
2,2,test,"First of all I hate those moronic rappers, who...",neg,10001_1.txt
3,3,test,Not even the Beatles could write songs everyon...,neg,10002_3.txt
4,4,test,Brass pictures (movies is not a fitting word f...,neg,10003_3.txt

let s clean the data to have only what we need : review columns and and the label column

In [3]:
# Drop unnecessary columns
df = df.drop(['Unnamed: 0','type','file'], axis = 1)
df.head()

                                              review label
0  Once again Mr. Costner has dragged out a movie...   neg
1  This is an example of why the majority of acti...   neg
2  First of all I hate those moronic rappers, who...   neg
3  Not even the Beatles could write songs everyon...   neg
4  Brass pictures (movies is not a fitting word f...   neg

In [4]:
# check if there is missing data
df.isnull().sum()

review    0
label     0
dtype: int64

In [5]:
# see how the label class are distributed
df.label.value_counts()

unsup    50000
neg      25000
pos      25000
Name: label, dtype: int64

In [6]:
# drop unsup column, we need only pos and neg for our example 
df = df[df.label != 'unsup']
df.label.value_counts()

neg    25000
pos    25000
Name: label, dtype: int64

In [7]:
# map the label class to 0 and 1
df.label = df.label.map({'pos':1,'neg': 0})
df.head()

                                              review  label
0  Once again Mr. Costner has dragged out a movie...      0
1  This is an example of why the majority of acti...      0
2  First of all I hate those moronic rappers, who...      0
3  Not even the Beatles could write songs everyon...      0
4  Brass pictures (movies is not a fitting word f...      0

In [8]:
# shape of df
df.shape

(50000, 2)

Our data has 50000 reviews labeled as negative or positive, Now after cleaning it, we are ready to split it into train and test to feed it to the model.

In [9]:
# split data to train and test
X_train, X_test, y_train, y_test = train_test_split(df['review'], 
                                                    df['label'], 
                                                    random_state=1)

In [17]:
X_train

25772    On the surface, this movie would appear to dea...
45791    I have a deep liking for this film despite it ...
25396    I really didn't like this movie because it did...
43835    Don't be swayed by the naysayers. This is a wo...
15782    Three American lads are backpacking their way ...
10362    This is the worst movie I have ever seen. The ...
12400    This movie is something horrible. I was laughi...
42603    My daughter gets really put out at me when I r...
24943    This is a cherished movie from my childhood!! ...
38941    The Ruth Snyder - Judd Gray murder in 1927 ins...
17889    "Capt. Corelli's Mandolin" is an old fashioned...
10198    i thought id check this film out as I'm curren...
33548    Most college students find themselves lost in ...
18736    This film is excellent! Fear of watching docum...
38103    A light-hearted comedy, Nothing shows us a wor...
36529    Ok so here's the basic plot. It is 1933, Peter...
3402     The movie Heart of Darkness is an insult to th...
13097    The comments of the previous user are harsh in...
20894    Maybe my rating should have been a 9, but the ...
48655    This is one of the funniest movies I have ever...
9463     What the hell is this!? That was my first reac...
32163    This isn't the worst movie I've ever seen, but...
24779    My take on the ending. Bobby died at the hands...
21176    This movie bombed at the box office and in the...
1029     This conglomeration fails so miserably on ever...
18547    The Beatles had just done 'Magical Mystery Tou...
5331     Request you to not watch this movie... It star...
41155    The Neil Simon's Sunshine Boys starring Walter...
12114    I bought this because it was $1.99 and Harry C...
22874    This movie is the absolutely perfect way to ex...
                               ...
44510    A very good start. I was a bit surprised to fi...
26103    Sometimes you wonder how some people get fundi...
17137    Few people realize it, but there was world lit...
19433    I am very impressed with the acting in Comanch...
24535    Its such a shame that an important film like t...
31959    I won't argue with anyone who pronounces this ...
27204    Ever wanted to eat worms? Here's a 'documentar...
49714    "Yes, Georgio" is a light-hearted and enjoyabl...
22926    This was Laurel and Hardy's last silent film f...
37532    Why do people bitch about this movie and not a...
19946    TV movies generally do not receive as much rec...
8444     If you would like to watch an example of how n...
35730    Wow, this is very unusual in one regard: usual...
45413    This would've been a sure fire classic had the...
21758    I have loved One True Thing since the first ti...
32025    The teasers for Tree of Palme try to pass it o...
36230    Ugly shot, poorly scripted and amateurishly pa...
31228    As I am not a blood and guts fan I found the g...
43757    Overshadowed by "Braveheart" released the same...
7751     I figure the company that made this movie want...
49100    Okay, I didn't get the Purgatory thing the fir...
20609    I saw this movie on TV back in the 60s and it ...
32912    I saw this for Gary Busey and Fred Williamson ...
21440    Mickey Rooney (as Mi Taylor) is a young man dr...
7813     I'm a fan of good, plausible, action movies. A...
43723    Peter Falk is a diverse and accomplished actor...
32511    Rodney Dangerfield isn't the main character of...
5192     Macbeth is one of the most frequently told sto...
12172    I went to see suspecting I would hate it, I di...
33003    This show comes up with interesting locations ...
Name: review, Length: 37500, dtype: object

In [15]:
# Instantiate the CountVectorizer method
count_vector = CountVectorizer(stop_words = 'english')

In [16]:
count_vector

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words='english',
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [18]:
# Fit the training data and then return the matrix
training_data = count_vector.fit_transform(X_train)

In [19]:
training_data

<37500x90431 sparse matrix of type '<class 'numpy.int64'>'
	with 3331526 stored elements in Compressed Sparse Row format>

In [20]:
# Transform testing data and return the matrix. Note we are not fitting the testing data into the CountVectorizer()
testing_data = count_vector.transform(X_test)

In [21]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)
predictions = naive_bayes.predict(testing_data)

In [22]:
print('Accuracy score: ', format(accuracy_score(y_test, predictions)))
print('Precision score: ', format(precision_score(y_test, predictions)))
print('Recall score: ', format(recall_score(y_test, predictions)))
print('F1 score: ', format(f1_score(y_test, predictions)))

Accuracy score:  0.85776
Precision score:  0.8712468193384224
Recall score:  0.8344435418359057
F1 score:  0.8524481327800829

In [25]:
testing_data

<12500x90431 sparse matrix of type '<class 'numpy.int64'>'
	with 1090801 stored elements in Compressed Sparse Row format>

In [24]:
predictions

array([0, 0, 0, ..., 0, 0, 1])